extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center.mb-3 #{pagina}
        .row.testimoniales.mb-5
            if(testimoniales)
                each testi in testimoniales
                    .col-md-6.col-lg-4.mb-4
                        .card
                            .card-body
                                blockquote.blockquote
                                p.mb-0
                                    | #{testi.mensaje}
                                footer.blockquote-footer
                                    | #{testi.nombre}

        .row.justify-content-center.col
            h2.d-block.w-100.text-center.mb-3 Agregar Testimonial
            if(errores)
                each error in errores
                    .alert.col-md-8.alert-danger.text-center=error.message

        .row.justify-content-center.col
            .col-md-8
                form(action="/testimoniales", method="post") 
                    .form-group
                        label(for="nombre") Nombre Completo
                        input#nombre(type="text", placeholder="Ingrese su Nombre", name="nombre",class="form-control", value=nombre)
                    .form-group
                        label(for="correo") Correo Electrónico
                        input#correo(type="email", placeholder="Ingrese su Email", name="correo",class="form-control", value=correo)
                    .form-group
                        label(for="mensaje") Mensaje
                        textarea#mensaje(placeholder="Escriba su Mensaje", name="mensaje",class="form-control", rows=3)=mensaje

                    input.btn.btn-success.btn-block(type="submit")